<app-toolbar name="common">
    <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
    <div main-title>My App</div>
    <paper-icon-button icon="my-icons:texture" on-tap="openMinorDrawer"></paper-icon-button>
</app-toolbar>
<app-toolbar name="view1">
    <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
    <div main-title>View #1</div>
    <paper-icon-button icon="my-icons:texture" on-tap="openMinorDrawer"></paper-icon-button>
</app-toolbar>
<app-toolbar name="view2">
    <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
    <div main-title>View #2</div>
    <paper-icon-button icon="my-icons:texture" on-tap="openMinorDrawer"></paper-icon-button>
</app-toolbar>
<app-toolbar name="view3">
    <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
    <div main-title>View #3</div>
    <paper-icon-button icon="my-icons:texture" on-tap="openMinorDrawer"></paper-icon-button>
</app-toolbar>